.HealthShield {
  .BoxSection {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    justify-content: center;

    .BLWI {
      background: white;
      max-width: 245px;
      margin: 10px;
      text-align: center;
      box-shadow: 2px 2px 8px -4px black;

      &_position {
        padding: 15px;
      }
      img {
        max-width: 75%;
        padding: 20px;
        transform: scale(0.9);
        transition: 0.2s all ease-in;
      }
      &:hover img {
        transform: scale(1);
      }

      a {
        text-decoration: none;
        color: #1d7d95;
        font-size: 15px;
      }
    }
  }
}
