.HealthShield {
  .DesktopNav {
    @media screen and (max-width: 900px) {
      display: none;
    }
    a {
      font-size: 13px;
      font-family: "Muli";
      text-decoration: none;
      font-weight: 900;
      margin: 0 7px;
      color: #000000;
    }
  }
  .Nav {
    img {
      &.logo {
        width: auto;
        max-width: 178px;
        position: relative;
        top: 5px;
      }
    }
  }
  .MuiAppBar-colorPrimary {
    color: #39c2cf;
    background-color: white;
  }

  .BorderGradient {
    background-image: linear-gradient(to right, #62ebb9, #2cb5d6),
      linear-gradient(to right, #62ebb9, #2cb5d6);
    height: 5px;
  }
  .logo {
    width: auto;
    max-width: 178px;
    position: relative;
    top: 3px;
  }
}
